*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family: "Lato", serif;
    
}
.top {
    height: 44px;
}
nav{
 display: flex;
 align-items: center;
 justify-content: space-around;
padding-top: 20px ;
  

}
 nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
 }
 nav ul a {
text-decoration: none; 
color: black;
}
.text {
   display: flex;
   gap: 24px;
}
.text p {
    margin-top: 12px;
    color: #0065FE;
}
.blue {
background-color: #0065FE;
color: white;
padding: 10px 25px;
border-radius: 30px;
border: none;
}
#url {
  width: 1000px;  
  height: 389px;
  margin-top: 162px;
  margin-left: 200px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
text-align: start;

}
#url h1 {
font-family: Gilory-Bold;
font-size: 48px;
line-height:96px ;
text-align: center;
margin-bottom: 20px;
}
.highlight{
    color:#0065FE;
    font-weight: bold;
}

#url p {
    margin-bottom: 20px;
    text-align: start;
    font-size: 16px;
    width: 670px;
}
.lit{ 
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 300px;
   
 
}

#url img {
    width: 80%;
    max-width: 600px;
    margin-top: 40px; 
}
img{
    margin-top: 70px;
}


.head {
   padding: 50px;
   background-color:whitesmoke ;
   text-align: start;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 100px;
   margin-top: 10px;
}
.heading {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.numbers{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 10px; 

}
.numbers h4 {
    margin-bottom: 10px;
}
.numbers p {
    width: 80px;
}
.content {
display: flex;
justify-content: center;
gap: 50px;

}
.top-content{
    width: 400px;
    margin-top: 20px;
}
.top-content h2 {
    margin-bottom: 7px;
}

.aside-content {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top:40px;
    width: 700px;
    gap: 30px;
}
#pricing {
    padding: 50px;
    background-color: ;
    text-align: center;
    
}
.top-info {
    margin-top: 60px;
}
.top-info p {
    margin-top: 10px;
}
.price-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    
}
.boxes{
   background-color: white;
    width: 379px;
    height: 445px;
    border-radius: 9px;
   list-style: none; 
    font-size: 17px;
    padding: 30px;
    line-height: 1.4rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.boxes h4,
.box h4{
    font-size: 30px;
    padding: 10px;

}
.boxes ul li,
.box ul li{
    list-style: none; 
}

.box p,
.boxes p{
    margin-top: 10px;
}
.boxes ul,
.box ul {
    text-align: start;
    line-height: 2.9;
    text-decoration: none;
}
.box {
    background: #1e293b;
    color: white;
    width: 412px; 
    height: 570px;
    text-align: center;
    border-radius: 9px;
    padding: 20px;
    font-size: 17px;
    padding: 80px;
    line-height: 1.4rem;
}
.btn {
    margin-top: 10px;
}
.btn button {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
   
}
.custom {
    background-color: WHITE;
    border: 1px solid  #0065FE;
    color: #0065FE;
}
.card{
    margin-top: 100px; 
    background: linear-gradient(#0a3e63, #0a6350,#1e293b, #1e3448
    );
    width:100%;
    height:400px;
    position: relative;
}
.card-content {
    background: white;
    position: absolute;
    top: 13%;
    left: 35%;
    width: 480px;
    height: 270px;
    border-radius: 9px;
    text-align: center;
    padding: 0 30px;
    
}

.card-content button{
    margin: 15px 15px;
    padding: 10px 20px;
    border-radius: 15px;
    background: white;
    border: 1px solid #0065FE;
    color: #0065FE;
    width: 100%;
}
.row-btn {
display: flex;
gap: 10px;
justify-content: center;
margin-top: 10px;
}

.card-content p {
   color: #0065FE; 
}
.card-content a {
    text-decoration: none;
    font-weight: bold;
    color:#0065FE ;
}

.faqs {
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    
}
.faqs h2 {
    margin-bottom:20px ;
    text-align: center;
    font-size: 40px;
}
.faq{
    cursor: pointer;
    font-size: 17px;
    margin: 0;
    border-bottom: 1px solid black;
     padding: 10px;

}
.large {
    margin-top: 20px; 
    background: linear-gradient(#0a3e63, #0a6350,#1e293b);

    width:100%;
    height:360px;
    position: relative;  
}
.large-content{
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
}
.large-content h1 {
    margin-bottom: 20px;
    color: white;
}
.last {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.socials{
    margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.socials 
.icons {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.middle {
    display: flex;
    flex-direction: row;
    gap: 20px;
   margin-top: 40px;
}
.middle h4 {
    font-weight: bolder;
}
.down-content {
    margin-top: 20px;
}
.bottom {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.bottom p {
    margin-left: 10px;
}


