*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:whitesmoke ;
    width: 1440px;
    height: 100vh;
    font-family: "Lato", serif;
}
.head {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
.head img{
  margin: 20px;
}
nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color:#222324;
    padding: 20px;
}
.acc {
    border: 1px solid black;
    padding:  4px 10px;
    border-radius: 4px ;
}
.general {
  width: 892px;
  height: auto;
  margin: 60px;
  margin-left: 280px;
}

.box {
  display: flex; 
  box-shadow: 0px 1px 1px gray;
}

.checkout-info {
    background: white;
    padding: 30px;
    width: 580px;
   height: 795px;
   
}
.checkout-info h1 {
  margin-top: 40px;
  border-bottom: 1px solid lightgray;
padding-bottom: 50px;
}
.num{
  border-radius: 30px;
  padding: 10px 15px;
  margin-right: 20px;
  background-color: white;
  border: 3px solid rgb(27, 115, 203);
  color: rgb(27, 115, 203);
}

.checkout-info h1 {
 margin-bottom: 80px;
}

.checkout-info fieldset {
    margin-bottom: 40px;
    border: none;
}

.checkout-info h3{
font-weight: bold;
font-size: 18px;
padding-bottom: 20px;
color:#222324;
}

.row {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
  }

.form-group label {
    padding-bottom: 100px;
    color: #222324;    
}
.form-group input {
    width: 100%;
    padding: 9px;
    border-radius: 4px;
    border: none;
    background-color: rgb(223, 223, 223);

}

.submit{
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #00b389;
    color: white;
    cursor: pointer;
}
.submit:hover {
    background-color:white;
    color: #00b389;
    border: 1px solid #00b389;
  }
  .text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }
  .text span,
  .text  a {
    color: gray;
  }
  .btn {
    margin-top: 40px;
    margin-left: 210px;
    padding: 5px;
    background-color:rgb(146, 146, 146);
     border: none;
     border-radius: 6px;
    color: white;
  
  }
  .btn span{
    font-weight: bold;
    font-size: 17px;
  }
  .freelance-info{
    flex: 1;
    background-color: rgb(27, 115, 203);
    color: white;
    padding: 30px;
    width: 312px;
    height: 795px;  
  } 
  .freelance-info h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
 
  .price {
    font-size: 80px;
     margin-top: -10px;
  }
  .price span {
    font-size: 40px;
  }
 
  .freelance-info li {
    list-style: none;
  }

  .text-two{
    margin-bottom: 40px;
  }
  ul li {
    padding-bottom: 10px;
    padding-left: 10px;
  }
  #a {
    margin-top: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 50px;
    margin-bottom: 40px;

  }
  #a a {
    color: white;
  }
  .quote {
 
    margin-top: 30px;
  }
  .quote p {
   
    font-style: italic;
    text-align: start;
  }

  .quote-title {
    display: flex;
    align-items: center;
    text-align: center; 
    padding-top: 15px;
  }
.quote-title img{
  border-radius: 20px;
  margin: 30px;
}

  .last {
margin-top: 10px;
text-align: center;
color: gray;
font-size: 14px;
  }
  .last a {
text-decoration: none;
color: rgb(37, 37, 141);
  }